@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./Ubuntu-Regular.ttf) format('woff2');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./Ubuntu-Bold.ttf) format('woff2');
}